.container {
  max-width: 600px;
  margin: -0px auto 40px auto;
  padding: 30px;
  background-color: var(--color-text-light);
  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
  z-index: 5;
}

.title {
  color: var(--color-primary);
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 2em;
}

.buttonsContainer {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.backButton,
.saveButton {
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

.backButton {
  background-color: var(--color-text-muted);
  color: var(--color-text-light);
  border: none;
}

.backButton:hover {
  background-color: #4a4a4a;
}

.saveButton {
  background-color: var(--color-primary); /* Cor para o botão Salvar */
  color: var(--color-text-light);
  border: none;
}

.saveButton:hover {
  background-color: #145680;
}

/* Ajustes para mobile */
@media (max-width: 768px) {
  .buttonsContainer {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}